@using System.Web.Mvc.Html
@using Dragonfly.UmbracoTheming
@using Umbraco.Web
@using Umbraco.Web.Mvc

@inherits UmbracoTemplatePage
@{
    Layout = null;

    var thisTheme = Model.Content.GetPropertyValue<string>("SiteTheme", recurse: true);
}
<!DOCTYPE html>
<html>
<head>
    <!-- General Meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <title>MetaTitle</title>
    <meta name="description" content="MetaDescription">

    <link rel="shortcut icon" href="@Url.ThemedAsset(thisTheme, "images/favicon.ico")">

    <!-- Site-wide CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.ThemedAsset(thisTheme, "css/bootstrap.min.css")" />

    <!-- Template styles-->
    <link rel="stylesheet" href="@Url.ThemedAsset(thisTheme, "css/custom.css")" />

    <!-- Site-wide HEAD Js -->
    @RenderSection("HeaderScripts", required: false)

    @{Html.RenderPartial("~/Views/Partials/GenericPartial.cshtml");}
</head>
@RenderBody()
</html>
